.LogItem{
    display: flex;
    background-color: #fcbf49;
    padding: 5px;
    margin: 10px 0;
}

.Contents{
    font-weight: bold;
    flex: auto;
    text-align: center;
}

.Desc{
    font-size: 18px;
    color: #194B49;
}

.Time{
    color: #D62828;
}


.delete-x{
    height: 15px;
    width: 15px;
    text-align: center;
    line-height: 15px;
    margin-right: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.delete-x:hover{
    color: red;
    cursor: pointer;
    transform: rotate(0.5turn);
}