.logs{
    background-color: #EAE2B7;
    padding: 20px 10px;
    margin: 10px auto;
}

.Empty-Log{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
}